.App {
  text-align: center;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.input-container {
  margin-top: 20px;
}

label {
  font-size: 1.2rem;
  margin-right: 10px;
}

input {
  padding: 5px;
  font-size: 1rem;
}
